body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #F8F8F8;
}

.custom-navbar {
    background: lightgrey;
}

.categories-container {
    max-height: 70vh !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.remember-container {
    margin-left: 20px;
}

.button-facebook {
    background: #3b5998;
    color: white;
    margin-bottom: 15px;
}

.button-google {
    background: #d34836;
    color: white;
    margin-bottom: 15px;
}

.no-padding-left {
    padding-left: 0;
}

.input-date {
    max-width: 125px;
}

.plus {
    border-radius: 100%;
    margin-bottom: 15px;
}

.navbar-brand {
    color: white !important;
    background-color: black;
}

.navbar-brand:hover {
    background-color: black !important;

}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.button-full {
    width: 100%;
}

.full-width {
    width: 100%;
}

.right {
    text-align: right;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30vh
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

    .error-actions .btn {
        margin-right: 10px;
    }

#dialog-confirm {
    display: none
}
