<h2 class="text-center">Use external login provider</h2>
<hr />
    @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div>
            <p>
                    <button type="submit" class="btn button-full button-facebook"  name="provider" value="Facebook" title="Log in using your Facebook account">Log in with Facebook!</button>
                    <button type="submit" class="btn button-full button-google"  name="provider" value="Google" title="Log in using your Google account">Log in with Google!</button>
            </p>
        </div>
    }
<hr/>
