@model ManageYourBudget.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<h2 class="text-center">Use external login provider</h2>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div>
            <p>
                @foreach (var p in loginProviders)
                {
                    <button type="submit" class="btn button-full"  name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">Log in with @p.AuthenticationType!</button>
                }
            </p>
        </div>
    }
}
<hr/>
