@model ManageYourBudget.Dtos.Expenditure.ExpenditureCategoryDto

@{
    var action = Url.Action("Add", "Category");

    <form id="addForm" onsubmit="event.preventDefault(), addCategory(this, '@action')">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                @Html.TextBoxFor(model => Model.Name, new { @class = "form-control", required = "required" })
            </div>
            <div class="col-md-2">@Html.TextBoxFor(model => Model.ChartColor, new { @class = "form-control", type = "color", required = "required" })</div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success"><span id="plus" class="glyphicon glyphicon-plus"></span><span id="add"></span></button>
            </div>
        </div>
    </form>
}
