<div id="dialog-confirm" title="Delete?">
    <div><span class="glyphicon-alert glyphicon"></span> Are you sure? Do You <strong>really</strong> want to pernamently delete this?</div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        $("#dialog-confirm").dialog({
            resizable: false,
            autoOpen: false,
            height: "auto",
            draggable: false,
            width: 400,
            modal: true,
            buttons: {
                Cancel: function () {
                    $(this).dialog("close");
                },
                Delete: function () {
                    var data = $("#dialog-confirm").data("data");
                    if (data) {
                        deleteExpenditure(data.id, data.row, data.action);
                    }
                    $(this).dialog("close");
                }
            }
        });
    });
</script>